<!DOCTYPE html >
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0' />
    <meta name='format-detection' content='telephone=no,email=no,date=no,address=no'>
    <link rel='stylesheet' href='./css/chat.css'>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_908333_im2c68gc2hm.css">
    <title></title>
</head>

<body>
    <div id='app'>
        <div class='header'>
            <div class='header_left'>
                <i class='iconfont icon-left'></i>
            </div>
            <div class='header_center'>聊天</div>
            <div class='header_right'></div>
        </div>
        <!-- 聊天记录框 -->
        <div class="message_list" @click="displayMore">
            <mt-loadmore :top-method="loadTop" :bottom-all-loaded="allLoaded" ref="loadmore">
                <div class="chatList">
                    <div class="chatList_box" v-for="(item,index) in list">
                        <div class="p1" v-if="item.uid!=userInfo.uid">
                            <div class="chat_box">
                                <div class="chat_box_p_src">
                                    <img src="./image/logo.png" alt="">
                                </div>
                                <div class="chat_box_p_msg">
                                    <i class="iconfont icon-zuosanjiaoxiangzuomianxing"></i>
                                    <div class="chat_box_p_msg_box" v-if="item.message_type=='text'" v-html="item.message"></div>
                                    <div class="chat_box_p_msg_box" v-else>
                                        <img :src="item.message" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p2" v-else>
                            <div class="chat_box">
                                <div class="chat_box_p_msg">
                                    <i class="iconfont icon-yousanjiaoxiangyoumianxing"></i>
                                    <div class="chat_box_p_msg_box" v-if="item.message_type=='text'" v-html="item.message"></div>
                                    <div class="chat_box_p_msg_box" v-else>
                                        <img :src="item.message" alt="">
                                    </div>
                                </div>
                                <div class="chat_box_p_src">
                                    <img src="./image/zuan.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mt-loadmore>
        </div>
        <!-- 聊天记录框 end-->
        <!-- 聊天输入框 -->
        <div class="chat_input">
            <div class="input_box" @click="displayMore">
                <div class="input_box_left">
                    <input class="message" type="text" v-model="input">
                </div>
                <div class="input_box_right">
                    <div class="input_box_right_box" @click="sendMessage('text')">
                        发送
                    </div>
                </div>
            </div>
            <div class="select_box">
                <div class="select_box_list">
                    <i class="iconfont icon-biaoqing"></i>
                    <emoji-picker @emoji="insert" :search="search" class="emo">
                        <div class="emoji-invoker" slot="emoji-invoker" slot-scope="{ events }" v-on="events">
                            <button type="button" style="opacity:0;height: 2rem;width: 3rem" @click="shoeMore(event)"></button>
                        </div>
                        <div slot="emoji-picker" slot-scope="{ emojis, insert, display }" class="emo_list">
                            <div>
                                <div>
                                    <input type="text" v-model="search">
                                </div>
                                <div class="emojis_box">
                                    <div v-for="(emojiGroup, category) in emojis" :key="category" class="emojis">
                                        <h5 v-if="category=='Frequently used'">常用</h5>
                                        <h5 v-else-if="category=='People'">人物</h5>
                                        <h5 v-else-if="category=='Nature'">大自然</h5>
                                        <h5 v-else-if="category=='Objects'">物品</h5>
                                        <h5 v-else-if="category=='Places'">设施</h5>
                                        <h5 v-else-if="category=='Symbols'">符号</h5>
                                        <div class="emojis_span">
                                            <span v-for="(emoji, emojiName) in emojiGroup" :key="emojiName" @click="insert(emoji)"
                                                :title="emojiName">{{ emoji }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </emoji-picker>
                </div>
                <div class="select_box_list" @click="displayMore" style="position: relative;">
                    <input type="file" type="file" accept="image/*" @change="update">
                    <i class="iconfont icon-tupian"></i>
                </div>
                <div class="select_box_right" @click="displayMore">
                    <!-- <div class="select_box_right_box" @click="deltext">
                        <i class="iconfont icon-dele"></i>
                    </div> -->
                </div>
            </div>
            <div class="show_box" v-if="more_style"></div>
        </div>
    </div>
</body>
<script src='./js/vue.js'></script>
<script src='./js/jquery.js'></script>
<script src='./js/mintui.js'></script>
<script src="./js/vue-emoji-picker.js"></script>
<script src="./js/axios.js"></script>
<script type='text/javascript'>
    Vue.use(EmojiPicker)
    var ws = new WebSocket("ws://39.108.113.33:7272");
    var vm = new Vue({
        el: '#app',
        data: {
            input: '',
            version: "1.5.0",
            search: '',
            more_style: false,
            allLoaded: false,
            userInfo: {},
            otherInfo: {},
            page: 1,
            before_id: "",
            p1: {
                "appid": "10000",
                "type": "login",
                "uid": "oasik1Jtiq6Ha8YQgCaQO7ZJZSC4"
            },
            p2: {
                "appid": "10000",
                "type": "login",
                "uid": "666660001"
            },
            list: []
        },
        mounted: function () {
            this.init()
        },
        methods: {
            init() {
                $('.mint-loadmore-text').html('加载更多聊天记录...')
                this.ChatLogin()
            },
            // 通信登录初始化
            ChatLogin(callback) {
                var that = this
                if (false) {
                    this.userInfo = this.p1
                    this.otherInfo = this.p2
                } else {
                    this.userInfo = this.p2
                    this.otherInfo = this.p1
                }
                ws.onopen = function () {
                    ws.send(JSON.stringify(that.userInfo))
                };
                ws.onmessage = function (evt) {
                    var res = JSON.parse(evt.data)
                    console.log(res)
                    if (res.type == "getNotReadList_back") { //获取消息未读列表
                        // that.list = res.data
                    } else if (res.type == "login_back") { //登录成功返回
                        that.get_message_list()
                    } else if (res.type == "single_chat") { //接收到消息或发送消息成功的回调
                        Vue.set(that.list, that.list.length, res)

                        setTimeout(function () {
                            $('.message_list').scrollTop($('.chatList')[0].scrollHeight)
                        }, 100)
                    } else if (res.type == "getMessageList_back") { //获取聊天记录
                        if (res.data.length != 0) {
                            that.list = res.data.concat(that.list)
                            that.before_id = res.data[0].id
                            if (that.page == 1) {
                                that.$nextTick(function () {
                                    setTimeout(function () {
                                        $('.message_list').scrollTop($('.chatList')[0].scrollHeight)
                                    }, 1000)
                                })
                            }
                            that.page += 1
                        }
                    }
                };
            },
            // 上传
            update(e) {
                var self = this
                let file = e.target.files[0]
                /* eslint-disable no-undef */
                let param = new FormData() // 创建form对象
                param.append('file', file, file.name) // 通过append向form对象添加数据
                param.append('version', this.version) // 添加form表单中其他数据
                console.log(param.get('file')) // FormData私有类对象，访问不到，可以通过get判断值是否传进去
                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                // 添加请求头
                axios.post('http://t.gxmp.henghi.com/uri/chat/uploadimage', param, config)
                    .then(response => {
                        console.log(response.data.data)
                        self.sendMessage("image", response.data.data)
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
            // 获取未读数
            getNotReadList() {
                var get_not_read_list = {
                    "appid": "10000",
                    "type": "get_not_read_list",
                    "uid": this.userInfo.uid,
                    "to_uid": this.otherInfo.uid
                }
                ws.send(JSON.stringify(get_not_read_list))
            },
            // 获取信息列表
            get_message_list() {
                var get_message_list = {
                    "appid": "10000",
                    "type": "get_message_list",
                    "uid": this.userInfo.uid,
                    "to_uid": this.otherInfo.uid,
                    "p": this.page, //页数
                    "ps": "10",
                    "before_id": this.before_id
                }
                this.$refs.loadmore.onTopLoaded();
                ws.send(JSON.stringify(get_message_list))
            },
            // 发送消息
            sendMessage(message_type, imgUrl) {
                if (message_type == "text") {
                    if (this.input.replace('/(^/s *)| (/s*$)/g', "") == "") {} else {
                        var messageData = {
                            "appid": "10000",
                            "type": "single_chat",
                            "uid": this.userInfo.uid,
                            "to_uid": this.otherInfo.uid,
                            "message_type": message_type,
                            "message": this.input
                        }
                        this.input = ''
                    }
                } else {
                    var messageData = {
                        "appid": "10000",
                        "type": "single_chat",
                        "uid": this.userInfo.uid,
                        "to_uid": this.otherInfo.uid,
                        "message_type": message_type,
                        "message": imgUrl
                    }
                }
                Vue.set(this.list, this.list.length, messageData)
                setTimeout(function () {
                    $('.message_list').scrollTop($('.chatList')[0].scrollHeight)
                }, 100)
                ws.send(JSON.stringify(messageData))

            },
            // 获取未读消息数量
            getnRead() {
                var getnmsg = {
                    "appid": "10000",
                    "type": "get_not_read_count",
                    "uid": this.userInfo.uid
                }
                ws.send(JSON.stringify(getnmsg))
            },
            // 加载更多
            loadTop() {
                var that = this
                this.get_message_list()
            },
            // 显示表情
            shoeMore() {
                this.more_style = true;
                $('.message_list').css({
                    "height": "calc(69vh - 5rem)",
                    "min-height": "calc(69vh - 5rem)"
                })
                setTimeout(function () {
                    $('.message_list').scrollTop($('.chatList')[0].scrollHeight)
                }, 200)

            },
            // 隐藏表情
            displayMore: function () {
                if (this.more_style) {
                    this.more_style = false;
                    $('.message_list').css({
                        "height": "calc(100vh - 8.5rem)",
                        "min-height": "calc(100vh - 26vh)"
                    })
                    setTimeout(function () {
                        $('.message_list').scrollTop($('.chatList')[0].scrollHeight)
                    }, 200)
                }
            },
            insert(emoji) {
                this.input += emoji
            }
        }
    })
</script>